player-connection-mode=Connect
player-connection-guid=498199862
player-connection-debug=1
player-connection-project-name=HexGridCardServerAuth
player-connection-wait-timeout=-1
player-connection-ip=192.168.0.115
profiler-enable=1
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
wait-for-managed-debugger=0
managed-debugger-fixed-port=0
hdr-display-enabled=0
build-guid=59049817b1104be8a277ca967adcf579
